{:paths ["src"
         ; TODO: normally this should be consumed as a library
         ; for development we keep it here for shadow-cljs to pickup file changes and hot-reload our code
         "../../bcljs/src/lib"
         "../../bcljs/src/gen"
         ]
 :deps  {org.clojure/clojure       {:mvn/version "RELEASE"}
         org.clojure/clojurescript {:mvn/version "RELEASE"}
         appliedscience/js-interop {:git/url "https://github.com/appliedsciencestudio/js-interop.git"
                                    :sha     "e6b5f0b84b736481269a62beb4ce70f99a30f9a0"}

         ;darwin/bcljs              {:local/root "../../bcljs"}

         ; ----
         thheller/shadow-cljs      {:mvn/version "RELEASE"}}
 }
