{:deps   true
 :nrepl  {:port    9000
          :init-ns bpg.nrepl}
 :builds {:sandbox
          {:target     :browser
           :output-dir "public/.compiled"
           :asset-path "/.compiled"
           :devtools   {:hud          false
                        :log-style    ""
                        :repl-init-ns bpg.sandbox
                        :repl-pprint  true}
           :modules    {:sandbox
                        {:init-fn bpg.sandbox/init}}}}}
